@import 'variables';
@import 'global';
@import "buttons";

.centro-container{
	.fila {
		border: 1px solid $color1;
		height: 50px;
		margin: 5px;
		border-radius: 5px;
		padding: 0 10px 0 0px;
		display: flex;
		flex-direction: row;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
		.completado {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 20px;
			cursor: pointer;
			padding: 0 5px;
			&-si{
				color: $colorBotonVerde;
			}
			&-no{
				color: $colorBotonRojo;
			}
		}
	}
	.drag {
		width: 40px;
		cursor: all-scroll;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		border-right: 1px solid black;
	}
	.titulo {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 0 0 10px;
		cursor: pointer;
		&-editando{
			cursor: auto;
		}
	}
}

//Css personalizado para el drager
.gu-mirror { 
	margin: 10px; 
	padding: 10px; 
	background-color: $color3; 
	transition: all 0.4s ease-in-out; 
	cursor: move; 
	cursor: grab; 
	cursor: -moz-grab; 
	cursor: -webkit-grab; 
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	@extend .centro-container;
	border: 1px solid $color1;
}

//Animacion css de los botones
.hover-derecha-azul{
	cursor: pointer;
	background-color: white;
	@include hover-derecha1($colorBotonAzul);
	&:before{
		@include hover-derecha2($colorBotonAzul);
	}
	&:hover, &:focus, &:active{
		@include hover-derecha3($colorBotonAzul);
	}
	&:hover:before, &:focus:before, &:active:before{
		@include hover-derecha4($colorBotonAzul);
	}
}

.hover-derecha-rojo{
	cursor: pointer;
	background-color: white;
	@include hover-derecha1($colorBotonRojo);
	&:before{
		@include hover-derecha2($colorBotonRojo);
	}
	&:hover, &:focus, &:active{
		@include hover-derecha3($colorBotonRojo);
	}
	&:hover:before, &:focus:before, &:active:before{
		@include hover-derecha4($colorBotonRojo);
	}
}