<div class="centro-container">
	<div dragula="lista-tareas" [(dragulaModel)]="items">
		<div class="fila" 
		*ngFor="let item of items; let i = index" 
		>
			<div class="drag">
				<i class="fas fa-ellipsis-v"></i>
			</div>
			<div class="completado completado-no" *ngIf="item.completado === 0" (click)="completarTodo(1, item)">
				<i class="far fa-circle"></i>
			</div>
			<div class="completado completado-si" *ngIf="item.completado === 1" (click)="completarTodo(0, item)">
				<i class="far fa-check-circle"></i>
			</div>
			<div 
			(click)="activarEdicion(item, i)" 
			class="titulo" 
			*ngIf="!editar[i]">
				{{ item.titulo }} {{ item.orden }}
			</div>
			<div class="titulo titulo-editando" *ngIf="editar[i]">
				<input type="text" [(ngModel)]="todoTituloEditado">
				<button class="boton-icono boton-icono-verde" (click)="editarTodo(item, i)">
					<i class="fas fa-save"></i>
				</button>
				<button class="boton-icono boton-icono-rojo" (click)="cancelarEdicionTituloTodo()">
					<i class="fas fa-times"></i>
				</button>
			</div>
			<button class="boton-icono boton-icono-azul" (click)="expandirTarjeta(item)" *ngIf="!editar[i]" >
				<i class="fas fa-expand-arrows-alt"></i>
			</button>
			<button class="boton-icono boton-icono-rojo" (click)="delete(item)" *ngIf="!editar[i]">
				<i class="fas fa-times"></i>
			</button>
		</div>
	</div>
</div>
<p-dialog 
[(visible)]="displayModalAccionHora" 
[draggable]="false" 
[resizable]="false" 
[modal]="true">
	<rp-centro-modal-editar-todo [editarTodoModal]="editarTodoModal"></rp-centro-modal-editar-todo>
</p-dialog>