.izquierda-abajo-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	.lista {
		display: flex;
		flex-direction: row;
		border: 1px solid red;
		.hora {
			width: 10%;
		}
		.accion {
			width: 90%;
			height: auto;
		}
	}
}
