$color1: #2E5266;
$color2: #6E8898;
$color3: #9FB1BC;
$color4: #D3D0CB;
$color5: #E2C044;

$negro: #404040;
// $rojo: #fc5a5a;
// $verde: #7dc12a;

//Colores botones
$colorBotonAzul: #59bacc;
$colorBotonVerde: #59ad6a;
$colorBotonAmarillo: #ffbb49;
$colorBotonRojo: #e2574c;