<div class="fila-container">
	<div class="fila-compleja" *ngIf="isArray()">
		<div  *ngFor="let objeto of objetos">
			<div class="data">
				{{ objeto.descripcion }}
			</div>
			<div class="botones">
				<button>
					E
				</button>
				<button>
					X
				</button>
			</div>
		</div>
	</div>
	<div class="fila-simple" *ngIf="!isArray()">
		<div class="data">
			{{ objetos }}
		</div>
		<div class="botones">
			<button>
				E
			</button>
			<button>
				X
			</button>
		</div>
	</div>
</div>
