<div>
	<div [dragula]="'lista-tareas'" [(dragulaModel)]="items">
		<div class="fila" *ngFor="let item of items; let i = index" (click)="expandirTarjeta(item)">
			<div *ngIf="!editar[i]">
				{{ item.titulo }} {{ item.orden }}
			</div>
			<div *ngIf="editar[i]">
				<input type="text" [(ngModel)]="todoDescripcionEditado">
			</div>
			<button (click)="activarEdicion(item, i)" *ngIf="!editar[i]">
				E
			</button>
			<button (click)="editarTodo(item, i)" *ngIf="editar[i]">
				G
			</button>
			<button (click)="delete(item)">
				X
			</button>
		</div>
	</div>
	<input [(ngModel)]="nuevoTodo">
	<button (click)="crearTodo()">crear</button>
</div>
<p-dialog [(visible)]="displayModalAccionHora" [draggable]="false" [resizable]="false" [modal]="true">
	<rp-centro-modal-editar-todo [editarTodoModal]="editarTodoModal"></rp-centro-modal-editar-todo>
</p-dialog>