<div class="centro-container">
	<div dragula="lista-tareas" [(dragulaModel)]="items">
		<div class="fila" 
		*ngFor="let item of items; let i = index" 
		>
			<div class="drag">
				<i class="fas fa-ellipsis-v"></i>
			</div>
			<div class="completado">
				<input type="checkbox" value="{{item.completado}}">
			</div>
			<div 
			(click)="activarEdicion(item, i)" 
			class="titulo" 
			*ngIf="!editar[i]">
				{{ item.titulo }} {{ item.orden }}
			</div>
			<div class="titulo titulo-editando" *ngIf="editar[i]">
				<input type="text" [(ngModel)]="todoTituloEditado">
				<button (click)="editarTodo(item, i)">G</button>
				<button (click)="cancelarEdicionTituloTodo()">X</button>
			</div>
			<button (click)="expandirTarjeta(item)" >
				<i class="fas fa-expand-arrows-alt"></i>
			</button>
			<button (click)="delete(item)">
				X
			</button>
		</div>
	</div>
	<input [(ngModel)]="nuevoTodo">
	<button (click)="crearTodo()">crear</button>
</div>
<p-dialog 
[(visible)]="displayModalAccionHora" 
[draggable]="false" 
[resizable]="false" 
[modal]="true">
	<rp-centro-modal-editar-todo [editarTodoModal]="editarTodoModal"></rp-centro-modal-editar-todo>
</p-dialog>