<div class="footer">
	<div class="izquierda">
		<div class="izquierda-contenedor">
			<!-- <input class="titulo-texto" placeholder="Nuevo evento" [(ngModel)]="nuevoEvento">
			<button class="boton-icono boton-icono-verde" (click)="crearEvento()">
				<i class="fas fa-save"></i>
			</button> -->
		</div>
	</div>
	<div class="centro">
		<div class="centro-contenedor">
			<input class="titulo-texto" placeholder="Nueva tarea" [(ngModel)]="nuevoTodo">
			<button class="boton-icono boton-icono-verde" (click)="crearTodo()">
				<i class="fas fa-save"></i>
			</button>
		</div>
	</div>
	<div class="derecha">
		derecha
	</div>
</div>